<footer>
    <div class="container flex">
        <div class="footer-part">
            <div class="brand flex flex-ai">
                <img src="/images/logo.png" alt="" class="brand-logo">
                <a class="brand-text" href="/events">CU HOST</a>
            </div>
        </div>

        <div class="footer-part flex flex-column">
            <span class="footer-title">Community</span>
            <span>Organize Event</span>
            <span>Winners</span>
            <span>Achievements</span>
        </div>
        <div class="footer-part flex flex-column">
            <span class="footer-title">Support</span>
            <span>About</span>
            <span>Help</span>
            <span>Contact us</span>
        </div>
    </div>
</footer>